{% extends 'base.html' %}
{% block content %}
<style>
.mdeditor {
	background-color: white;
	margin-bottom: 25px;
	height: 500px;
}

</style>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/tasks">Tasks</a></li>
        <li class="breadcrumb-item"><a href="/wiki/{{ path }}">{{ path }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>

<div class="card shadow-sm border-0">
	<div class="card-header bg-white border-bottom-0 pt-4 pb-0">
		<h4 class="text-primary fw-bold">Edit Page</h4>
	</div>
	<div class="card-body">
		<form id="mdform" method="POST">
			<input type="hidden" name="page_path" value="{{ path }}">
			<input type="hidden" id="page_text" name="page_text" value="">

			<div class="mb-3">
					<div class="mdeditor">{{ raw_content }}</div>

			</div>
			<div class="mt-4">
					<button type="submit" class="btn btn-info px-4 rounded-pill shadow-sm me-2">Save Page</button>
					<a href="/wiki/{{ path }}" class="btn btn-outline-secondary px-4 rounded-pill">Cancel</a>
			</div>
		</form>

	</div>

</div>


<script src="{{ url_for('static',filename='/js/overtype.js') }}"></script>



<!-- Initialization -->
  <script>
	const [editor] = new OverType('.mdeditor', {
		toolbar: true
	});

	const form = document.getElementById('mdform');
	form.addEventListener('submit', async function (event) {
		event.preventDefault();

		try {

			const mdtext = editor.getValue();
			document.getElementById('page_text').value = mdtext;
			this.submit();
		} catch (error) {
			console.error('Saving failed: ', error);
		}
	});


  </script>

{% endblock %}
